<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebasechat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.profile.ProfileEditActivity"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".view.friend.detail.FriendDetailActivity"></activity>

        <service android:name=".service.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.friend.search.FriendSearchActivity" />
        <activity android:name=".view.auth.SignUpActivity" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.chat.ChatRoomActivity"
            android:parentActivityName=".view.main.MainActivity"
            android:theme="@style/ChatRoomTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.friend.detail.FriendDetailActivity"
            android:theme="@style/FriendDetailTheme" />
        <activity android:name=".view.main.MainActivity" />
    </application>

</manifest>